body {
  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  margin-bottom: 10px;
}

.one p {
  float: left;
  text-align: left;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  margin-left: 280px;
  color: #666;
  font-family: nyt-imperial,
  georgia,
  'times new roman',
  times,
  serif;
}

.div3{
  align-content: center;
  padding: 350px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.div3 img{
  width: 650px;

}

.lastp{

  font-size: 10px;


}

#dennis{
  font-weight: bold;
}


ul li {
  list-style: none;

}


.social ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

.one {
 /* background-color: purple;*/
  text-align: center;
  margin-top: 5px;
}
 .one img{
  height: 500px;
  width: 800px;
 }


.one h1{

   text-align: center;
}

.allan{
  padding-left: 270px;
  padding-right: 300px;
  font-size: 15px;
  color:grey;
  font-weight: 30px;
}

.Rick{

  font-size: 11px;
  margin-top: -10px;
  color:grey;
  font-weight: 10px;
}

h3{

  text-align: center;
}

.body img {
  width: 847px;
  height: 476px;
}
.body p{
  margin-left: 20px;
  margin-right: 20px;
}

section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows:  3fr 1fr;
}

section img {
  width: 254px;
  height: 169px;
}

.two,.three {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

#footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px;
}

.footer-links ul li {
  display: inline-block;
}

nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*background-color: blue;*/


}


article {

  align-content: center;
  
   

}

button{
  align-content: center;
  height: 30px;
  align-content: right;
  margin-top: 20px;
  border-radius: 4px;
  background-color: lightblue;
  color: white;
  font-weight: 100;
}

.div1{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*background-color: pink;*/
}

.div1 #toggler{
  margin-left: 10px;
  margin-top: 18px;
}

.div1 #search{
  flex: left;
  margin-left: -100px;
  margin-top: 18px;
}

.div1 #space{
  margin-top: 18px;
  font-size:15px;
  margin-left: -200px;
}


.div2{
  
  /*background-color: red;*/
}

.div2 p{

  font-family: Franklin gothic;
  text-align: center;
  font-size: 20px;

}

.button1{
  width: 150px;
  margin-left: 200px;
}

.button2{
  width: 90px;
}