a {
  text-decoration: none;
  color: black;
}

.allan {
  padding-left: 270px;
  padding-right: 300px;
  font-size: 15px;
  color: grey;
}

article {
  align-content: center;
}

article h3 {
   text-align: left;
   font-size: 20px;
 }

aside h3 {
  text-align: left;
}

body {
  margin: auto;
  padding: 0;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.body img {
  width: 847px;
  height: 476px;
}

.body p {
  margin-left: 20px;
  margin-right: 20px;
}

button {
  height: 30px;
  align-content: right;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #6287a5;
  color: white;
  font-weight: 100;
}

.button {
  float: left;
  margin-right: 350px;
  margin-top: -10px;
}

.button1 {
  width: 150px;
  margin-left: 200px;
}

.button2 {
  width: 90px;
}

.date {
  float: left;
  margin-right: 350px;
  font-size: 12px;
}

#dennis {
  font-weight: bold;
  margin-bottom: -20px;
  font-size: 12px;
}

div .inflation {
  font-size: 14px;
}

hr {
  margin-bottom: 10px;
}

div .inflation hr {
  width: 50px;
  margin-top: -10px;
  margin-left: -5px;
}

.div2 h1 {
  font-family: Title;
  font-size: 30px;
  margin-top: 10px;
}


.div3 {
  align-content: center;
  font-size: 1.25rem;
  line-height: 1.875rem;
  padding: 350px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.div3 img {
  width: 650px;
}

@font-face {
  font-family: 'Title';
  src: url('./fonts/Durwent.ttf') format('embedded-opentype');
}

nav {
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.one {
  text-align: center;
  margin-top: 5px;
}
.one h1 {
  margin-top: 100px;
  text-align: center;
}

.one img {
  height: 500px;
  width: 800px;
}

.one p {
  float: left;
  text-align: left;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  margin-left: 280px;
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

ul li {
  list-style: none;
}

#social ul li {
  display: inline;
  margin-right: 10px;
  color: #ccc;
}

.social ul li {
  display: inline;
  color: #ccc;
  margin-right: 10px;
}

.lastp {
  font-size: 10px;
}

.Rick {
  font-size: 11px;
  margin-top: -10px;
  color:grey;
}

section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 1fr;
  margin-left: 60px;
}

section img {
  width: 254px;
  height: 169px;
}

.two,.three {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

#footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px;
}

.footer-links hr {
  margin-top: 20px;
}
.footer-links ul li {
  display: inline-block;
  margin-left: 25px;
  color: #ccc;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div1 #search {
  flex: left;
  margin-left: -100px;
  margin-top: 18px;
}

.div1 #space {
  margin-top: 18px;
  font-size:15px;
  margin-left: -200px;
}

.div1 #toggler {
  margin-left: 10px;
  margin-top: 18px;
}

.div2 p {
  font-family: Franklin gothic;
  text-align: center;
  font-size: 20px;
}

footer {
  margin-top: -300px;
  font-family: nyt-franklin;
}

footer h3 {
  font-family: Title;
  text-align: left;
  margin-left: 30px;
}

footer .title {
  font-weight: bolder;
  margin-top: -20px;
  margin-bottom: 10px;
}

footer ul li {
 line-height: 22px;
 font-size: 12px;
}